<%- include("partials/header") %>
<div class="error-container">
    <h1 class="error-heading">Oops!</h1>
    <p class="error-text">Something went wrong.</p>
    <p class="error-text">Maybe the unique code you wrote doesn't exist,  <a class="error-link" href="/">Try again</a> if the problem persists.</p>
</div>

