<%- include("partials/header") %>
<div class="send-page">
<h1 class="send-heading">Write Your Code Here</h1>

<form class="sendform" target="/send" method="post">
    <textarea id="text" name="text"></textarea><br>
    <center><button class="send-button share-button" type="submit">Submit</button>
  </center>
    </form>
</div>
</body>
</html>
